{% extends "shop/base.html" %}
{% block title %}Ваш заказ{% endblock  %}
{% block content %}
    <div class="order-info">
    <h2>Ваш заказ</h2>
    <ul>
        {% for item in cart %}
            <li>{{ item.product.name }} X {{ item.quantity }} {{ item.total_price }} $ </li>
        {% endfor %}
    </ul>
    <p>Всего: {{ cart.get_total_price }} $</p>
    </div>

    <!-- Форма для применения купона -->
<div>
    <h2>Применить купон</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ coupon_apply_form.as_p }}
        <button type="submit">Применить</button>
    </form>
</div>

    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Оформить заказ"></p>
        {% csrf_token %}
    <a href="{% url "accounts:add_address" %}"> Добавить новый адрес доставки</a>
    </form>
{% endblock %}