{% extends "shop/base.html" %}

{% load static %}

{% block title %} Личный кабинет {% endblock %}
{% block content %}
    <h2>Мой личный кабинет</h2>
    <hr>
    <table>
        <tr>
            <th>Имя пользователя:</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Имя и фамилия:</th>
            <td>{{ user.first_name }} {{ user.last_name }} </td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>{{ user.email }}</td>
        </tr>
         <tr>
            <th>Телефон:</th>
            <td>{{ user.profile.tel }}</td>
        </tr>
        <tr>
            <th>Дата рождения:</th>
            <td>{{ user.profile.birth_date }}</td>
        </tr>
    </table>
    <p>
    <a href="{% url 'accounts:add_address' %}">Добавить адрес доставки</a> |
    <a href="{% url 'accounts:edit_profile' %}">Редактировать профиль</a> |
        <a href="{% url 'accounts:change_password_view' %}">Сменить пароль</a> |
        <a href="{% url 'accounts:logout_view' %}">Выход</a>
    </p>

    <hr>
    <h3>Адреса доставки</h3>
    {%  for address in addresses %}
    <ul>
        <li> {{ address }} | <a href="{% url 'accounts:delete_address' address.id %}">Удалить адрес</a></li>
    </ul>
    {% empty %}
        <p> У вас пока нет cохраненных адресов</p>
    {% endfor %}
    <hr>

    <h3>Активные заказы</h3>
    {% for order in active_orders %}
        <ul>
            <li>
                Заказ № {{ order.id }} от {{ order.created_at|date:"d.m.Y H:i" }} на сумму {{ order.get_total_cost }}
                | <a href="{% url 'orders:cancel_order' order.id %}">Отменить заказ</a>
            </li>
        </ul>
    {% empty %}
        <p> У вас пока нет заказов</p>
    {% endfor %}
    <hr>
    <h3>Завершенные заказы</h3>
    {% for order in completed_orders %}
        <ul>
            <li>
                Заказ № {{ order.id }} от {{ order.created_at|date:"d.m.Y H:i" }} на сумму {{ order.get_total_cost }}
            </li>
        </ul>
    {% empty %}
        <p>Ни один заказ пока не выполнен</p>
    {% endfor %}
    <hr>
    <h3>Отмененные заказы</h3>
    {% for order in canceled_orders %}
        <ul>
            <li>
                Заказ № {{ order.id }} от {{ order.created_at|date:"d.m.Y H:i" }} на сумму {{ order.get_total_cost }}
            </li>
        </ul>
    {% empty %}
        <p> У вас пока нет отмененных заказов</p>
    {% endfor %}

{% endblock %}